<div class="container-fluid">
  <h2>Liste des filtres</h2>
  <div class="row justify-content-center align-items-center">
    <div class="col-md-12 col-lg-4">
      <mat-form-field appearance="fill">
        <mat-label>Filtrer par nom ou prénom</mat-label>
        <input [formControl]="filterName" matInput placeholder="Ex. Jana">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-checkbox #inTheStaff [formControl]="filterInTheStaff" [color]="'primary'">Présent dans les effectifs ?
      </mat-checkbox>
    </div>
    <div class="col-md-12 col-lg-4">
      Seulement les salaires supérieurs à
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-lg-4">
      {{value}} € / mois
      <mat-slider thumbLabel (input)="incomeHasChanged($event)" [(ngModel)]="value" color="warn" tickInterval="1000"
        step="10" min="0" max="5000" aria-label="units">
      </mat-slider>
    </div>
  </div>
  <div class="row">

  </div>
</div>
